.headbar{
    background-image: url("E:/GitHub/GitHub/Images/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
.headbar p{
    font-size: larger;
}
.ch h1{
    font-size: xx-large;
}
.ch p{
    font-size: large;
}
.su p{
    font-size: x-large;
}
.su h3{
    font-size: xx-large;
}
.sul img{
    margin: auto;    
    display: block
}